{% extends 'iss/base.html' %}
{% load static %}
{% block content %}
	<div class='row' style="padding-top: 50px; text-align: center;">
		{% for i in value %}
			<!-- <li><a href="{{i.1}}">{{i.0}}</a></li> -->
		<div class='col-sm' style=" filter: drop-shadow(0 0 12px #2e2d2d)">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{i.2}}" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">{{i.0}}</h5>
			    <a href="{{i.1}}" class="btn btn-primary">Read it..</a>
			  </div>
			</div>
		</div>

		{% endfor %}




	</div>
{% endblock %}