html, body {
    overflow-x: hidden;
}

.page-header {
    width: 100%;
    background-color: #07c5eb;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 3%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
}

.main-image {

    padding-top: 50px;
    text-align: center;
    filter: drop-shadow(0 0 30px grey)

}


.main-image img{
    width: 65%;
}


.card {
    margin: 30px auto;

}

@media only screen and (max-width : 485px){
    .main-image img{width:100%;}
    .main-image { padding-top:30px;}

}
